{% extends "layout.html" %}


{% block heading %}
    REGISTRATION
{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block body %}

<div class="container">
<form action="{{ url_for('register') }}" method=post>
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
    {% if form.errors %}
        <p class="text-danger">{{ form.errors[0] }}</p>
    {% endif %}
  <input type=submit class="btn normal-button" value=Register>

</form>
    <p>
	<a href="{{ url_for('login') }}">Login here</a>
	</p>
</div>

<!--
  <p>
    <form method="post" action="{{ url_for('register') }}">
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
			<span class="input-group-text" >Username</span>
		  </div>
		  <input name="username" type="text" tabindex="1" class="form-control" placeholder="Username" aria-label="Username" value={{username}} >
		</div>
				<div class="input-group mb-3">
		  <div class="input-group-prepend">
			<span class="input-group-text" >Password</span>
		  </div>
		  <input name="password" type="password" tabindex="2" class="form-control" placeholder="Password" aria-label="Password" >
		</div>


        {% if error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
        <button type="submit" tabindex="3" class="btn normal-button">Register</button>
    </form>
	</p>
	<p>
	<a href="{{ url_for('login') }}">Login here</a>
	</p>
	-->
{% endblock %}
